.searchbar{
    display: flex;
    flex-direction: row;
}
.input{
    background-color: transparent;
    border-color: var(--c-primary);
    border-width: 1px;
    border-style: solid;
    width:300px;
}
.inputDark{
    border-color: var(--c-dark-fade-color);
}
.button{
    border-radius: 0 4px 4px 0;
}