:root{
    --c-theme: #6B4986;
    --c-primary: #fff;
    --c-text-color: #263238;
    --c-div-color: #ECFFF2;
    --c-dark-text-color: #263238;
    --c-dark-fade-color: #26323890;
    --c-star: #FFA402;
}