.button{
    padding: 8px 20px 8px 20px;
    cursor:pointer;
    background-color: var(--c-theme);
    color: var(--c-primary);
    border-radius: 4px;
    display: flex;
    align-items: center;
    border: 1px;
    border-color: var(--c-theme);

}