.button{
    padding: 2px;
    cursor:pointer;
    background-color: var(--c-primary);
    color: var(--c-theme);
    border-radius: 99px;
    display: flex;
    align-items: center;
    &:hover{
        color: var(--c-theme);
    }
}