.navbarBasic{
    position: absolute;
    top: 0;
    min-height: 60px;
    padding: 0 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: transparent;
}
.logo{
    position: absolute;
    left: 20px;
    font-size:200px;
}

.search{
    display: inherit;
    position: absolute;
    left:250px;
}

.right{
    position: absolute;
    right: 50px;
    display: inherit;
    column-gap: 4px;
    justify-content: flex-end;
}
