.navbar{
    position: absolute;
    top: 0;
    min-height: 60px;
    padding: 0 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: transparent;
}
.logo{
    position: absolute;
    left: 20px;
    font-size:200px;
}
.button{
    position: absolute;
    right: 140px;
}

.buttonJoin{
    position: absolute;
    right: 50px;
}