.container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-auto-rows: 1fr;
    margin: 0 20%;
    align-items: center;
    justify-content: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 50px;
}

.div{
    font-size: 14px;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: auto;
    border: 1px solid var(--c-div-color);
}
.text {
    font-size: 14px;
}