.page{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    width:100%;
    background: linear-gradient(103.69deg, #D691FF 73.7%, rgba(107, 73, 134, 0) 105.72%, rgba(107, 73, 134, 0.989583) 115.8%);
    height: 652px;
}

.vector{
    position: absolute;
    font-size: 780px;
    top: 30px;
    right:0;
    bottom: 0;
}
.search{
    display: inherit;
    position: relative;
    left: 20px;
    top:180px;
}
.text{
    position: absolute;
    width: 618px;
    height: 225px;
    left: 20px;
    top: 205px;
    font-weight: bold;
    font-size: 48px;
    color: var(--c-primary);
    line-height: 1.2;
}
.textSmall{
    position: absolute;
    left: 20px;
    top:390px;
    color: var(--c-primary);
    font-size: 24px;
    line-height: 1.6;
}
.info{
    position: absolute;
    background-color: var(--c-primary);
    width:100%;
    top:652px;

}