.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div{
    margin-top: 100px;
    width:350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    border: 5px solid var(--c-theme);
    position: relative;
    align-items: center;
    border-radius: 20px;
}


.hr{
    color: var(--c-dark-fade-color);
    background-color: var(--c-dark-fade-color);
    height: 1px;
    margin-top: 70px;
}

.price{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header{
    font-size: 20px !important;
}
.button{
    padding: 10px 20px;
    outline: none;
    cursor:pointer;
    background-color: var(--c-theme);
    color: var(--c-primary);
    border-radius: 4px;
    border: 1px solid var(--c-primary);
}